#intro-cards-container {
    --cards: 5;
  }
#card1 {
    --index: 1;
  }
#card2 {
    --index: 2;
    margin-top: 66px;
}
#card3 {
  --index: 3;
  margin-top: 66px;
}
#card4 {
  --index: 4;
  margin-top: 66px;
}
#card5 {
  --index: 5;
  margin-top: 66px;
}
.text-shadow{
  font-size: 120px;
  font-family: 'Handjet';
  text-shadow:
  -7px -7px 7px #000,  
   7px -7px 7px #000,
  -7px  7px 7px #000,
   7px  7px 7px #000;
}
.with-arrow .arrow {
  position: absolute;
  bottom: 0;      
  right: 20px;      
  margin: 0;         
}
.intro-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}
@media (max-width: 750px) {
    #intro-mobile{
        grid-template-rows: 50% 50%;
    }
}
