#intro-cards-container {
  --cards: 8;
}

#card1 {
  --index: 1;
}

.card-shared {
  margin-top: 66px;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

#card2 {
  --index: 2;
  background: linear-gradient(to bottom, rgb(0, 183, 255), rgb(9, 16, 79));
}

#card3 {
  --index: 3;
  background: linear-gradient(to bottom, rgb(47, 52, 54), rgb(0, 0, 0));
}

#card4 {
  --index: 4;
  background: linear-gradient(to bottom, rgb(0, 120, 206), rgb(3, 13, 27));
}

#card5 {
  --index: 5;
  background: linear-gradient(to bottom, rgb(88, 27, 51), rgb(0, 0, 0));
}

#card6 {
  --index: 6;
  background: linear-gradient(to bottom, rgb(0, 120, 206), rgb(3, 13, 27));
}

#card7 {
  --index: 7;
  background: linear-gradient(to bottom, rgb(192, 168, 98), rgb(25, 20, 12));
}

#card8 {
  --index: 8;
  background: linear-gradient(to bottom, rgb(0, 129, 75), rgb(0, 0, 0));
}

.text-shadow {
  font-size: 120px;
  font-family: 'Handjet';
  text-shadow:
    -7px -7px 7px #000,
    7px -7px 7px #000,
    -7px 7px 7px #000,
    7px 7px 7px #000;
}

.with-arrow .arrow {
  position: absolute;
  bottom: 0;
  right: 20px;
  margin: 0;
  animation: bounce 1.5s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(0);
  }
}

.intro-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 750px) {
  #intro-mobile {
    grid-template-rows: 50% 50%;
  }
}