#cases-cards-container {
    --cards: 8;
  }

.card-shared {
  margin-top: 66px;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

#card1-about {
    --index: 1;
    background: linear-gradient(to bottom, rgb(47, 52, 54), rgb(0, 0, 0));
  }

#card2-about {
    --index: 2;
    background: linear-gradient(to bottom, rgb(47, 52, 54), rgb(0, 0, 0));
  }

#card3-about {
    --index: 3;
    background: linear-gradient(to bottom, rgb(47, 52, 54), rgb(0, 0, 0));
  }

#card4-about {
    --index: 4;
    background: linear-gradient(to bottom, rgb(47, 52, 54), rgb(0, 0, 0));
  }

#card5-about {
    --index: 5;
    background: linear-gradient(to bottom, rgb(47, 52, 54), rgb(0, 0, 0));
  }

#card6-about {
    --index: 6;
    background: linear-gradient(to bottom, rgb(47, 52, 54), rgb(0, 0, 0));
  }

#card7-about {
    --index: 7;
    background: linear-gradient(to bottom, rgb(47, 52, 54), rgb(0, 0, 0));
  }

#card8-about {
    --index: 8;
    background: linear-gradient(to bottom, rgb(47, 52, 54), rgb(0, 0, 0));
  }