#cases-cards-container {
    --cards: 6;
  }

.card-shared {
  margin-top: 66px;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

#card1-cases {
    --index: 1;
    background: linear-gradient(to bottom, rgb(0, 120, 206), rgb(3, 13, 27));
  }

#card2-cases {
    --index: 2;
    background: linear-gradient(to bottom, rgb(88, 27, 51), rgb(0, 0, 0));
  }

#card3-cases {
    --index: 3;
    background: linear-gradient(to bottom, rgb(0, 120, 206), rgb(3, 13, 27));
  }

#card4-cases {
    --index: 4;
    background: linear-gradient(to bottom, rgb(0, 129, 75), rgb(0, 0, 0));
  }

#card5-cases {
    --index: 5;
    background: linear-gradient(to bottom, rgb(47, 52, 54), rgb(0, 0, 0));
  }

#card6-cases {
    --index: 6;
    background: linear-gradient(to bottom, rgb(47, 52, 54), rgb(0, 0, 0));
  }