#creative-cards-container {
  --cards: 3;
}

.card-shared {
  margin-top: 66px;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

#card1-creative-case {
  --index: 1;
  background: rgba(0, 0, 0, 0.371);
  /* blanco translúcido, ajusta el color y la opacidad */
  backdrop-filter: blur(10px);
  /* aplica el desenfoque */
  -webkit-backdrop-filter: blur(10px);
}

#card2-creative-case {
  --index: 2;
  background: linear-gradient(to bottom, rgb(47, 52, 54), rgb(0, 0, 0));
}

#card3-creative-case {
  --index: 3;
  background: linear-gradient(to bottom, rgb(47, 52, 54), rgb(0, 0, 0));
}

