#creative-cards-container {
  --cards: 5;
}

.card-shared {
  margin-top: 66px;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

#card1-creative {
  --index: 1;
  background: linear-gradient(to bottom, rgb(40, 40, 40), rgb(3, 13, 27));
}

#card2-creative {
  --index: 2;
  background: linear-gradient(to bottom, rgb(40, 40, 40), rgb(3, 13, 27));
}

#card3-creative {
  --index: 3;
  background: linear-gradient(to bottom, rgb(40, 40, 40), rgb(3, 13, 27));
}

#card4-creative {
  --index: 4;
  background: linear-gradient(to bottom, rgb(40, 40, 40), rgb(3, 13, 27));
}

#card5-creative {
  --index: 5;
  background: linear-gradient(to bottom, rgb(40, 40, 40), rgb(3, 13, 27));
}