#desert-cards-container {
  --cards: 6;
}

.card-shared {
  margin-top: 66px;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

#card1-desert {
  --index: 1;
  background: linear-gradient(to bottom, rgb(0, 129, 75), rgb(0, 0, 0));
}

#card2-desert {
  --index: 2;
  background: linear-gradient(to bottom, rgb(0, 129, 75), rgb(0, 0, 0));
}

#card3-desert {
  --index: 3;
  background: linear-gradient(to bottom, rgb(0, 129, 75), rgb(0, 0, 0));
}

#card4-desert {
  --index: 4;
  background: linear-gradient(to bottom, rgb(0, 129, 75), rgb(0, 0, 0));
}

#card5-desert {
  --index: 5;
  background: linear-gradient(to bottom, rgb(47, 52, 54), rgb(0, 0, 0));
}

#card6-desert {
  --index: 6;
  background: linear-gradient(to bottom, rgb(47, 52, 54), rgb(0, 0, 0));
}