#cases-cards-container {
    --cards: 3;
  }

.card-shared {
  margin-top: 66px;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

#card1-my-projects {
    --index: 1;
    background: linear-gradient(to bottom, rgb(192, 168, 98), rgb(25, 20, 12));
  }
/*--
#card2-my-projects {
    --index: 2;
    background: linear-gradient(to bottom, rgb(0, 129, 75), rgb(0, 0, 0));
  }

#card3-my-projects {
    --index: 3;
    background: linear-gradient(to bottom, rgb(109, 0, 117), rgb(3, 13, 27));
  }
--*/
#card2-my-projects {
    --index: 4;
    background: linear-gradient(to bottom, rgb(47, 52, 54), rgb(0, 0, 0));
  }

#card3-my-projects {
    --index: 5;
    background: linear-gradient(to bottom, rgb(47, 52, 54), rgb(0, 0, 0));
  }